{{template "base" .}}

{{define "title"}}Services{{end}}

{{define "main"}}
  <h2>Services</h2>
  <p><a href='/service/new'>Create service</a></p>
  {{if .Services}}
    <table>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Owner</th>
      </tr>
      {{range .Services}}
      <tr>
        <td><a href='/service/{{.ID}}'>{{.Title}}</a></td>
        <td>{{.CreatedAt | humanDate}}</td>
        <td>{{.Owner}}</td>
      </tr>
      {{end}}
    </table>
  {{else}}
    <p>There's nothing to see here yet!</p>
    <p><a href='/service/new'>Create service</a></p>
  {{end}}
{{end}}
