{{template "base" .}}

{{define "title"}}Organization: {{.Organization.Name}}{{end}}

{{define "main"}}
  <h2>Organization: {{.Organization.Name}}</h2>
  <ul>
    <li><a href="/organization/selector">Switch to a different organization</a></li>
    <li><a href="/organization/{{.Organization.Identifier}}/users">Manage users</a></li>
  </ul>
  <p><br /></p>
  <form action='/organization/{{.Organization.Identifier}}' method='POST'>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <input type='hidden' id='settingsTypes' name='settingsTypes' value='{{StringsJoin .SettingsTypes ","}}'>
    <input type='hidden' id='attributesTypes' name='attributesTypes' value='{{StringsJoin .AttributesTypes ","}}'>
    {{with .Form}}
      <div>
        <label for='identifier'>Identifier:</label>
        {{with .Errors.Get "identifier"}}
          <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='identifier' value='{{$.Organization.Identifier}}' id='identifier' readonly>
      </div>
      <div>
        <label for='title'>Name:</label>
        {{with .Errors.Get "name"}}
          <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='name' value='{{$.Organization.Name}}' id='name'>
      </div>
      <div class='clear'>
        <div class='add-input-action' onclick='addField(this)'>+</div>
        <label>Organization Settings:</label>
        {{with .Errors.Get "settings"}}
          <label class='error'>{{.}}</label>
        {{end}}
        <div class='input-container' attr-name='settings'>
          {{range $setting := $.Organization.Settings}}
            {{if eq $setting.Scope "organization"}}
          <div class="clear item">
            <input type="text" placeholder="Identifier" value="{{$setting.Key}}" readonly="readonly" name="settings[identifier][]">
            {{range $attr := $.Organization.OrganizationAttributes}}
              {{if eq $attr.SettingID $setting.ID}}
            <input type="text" placeholder="Value" value="{{$attr.Value}}" name="settings[value][]">
              {{end}}
            {{end}}
            <select name="settings[type][]">
              {{range $type := $.SettingsTypes}}
              <option value="{{$type}}"{{if eq $setting.Type $type}} selected{{end}}>{{$type}}</option>
              {{end}}
            </select>
          </div>
            {{end}}
          {{end}}
        </div>
      </div>
      <div class='clear'>
        <div class='add-input-action' onclick='addField(this)'>+</div>
        <label for='title'>Service Attributes:</label>
        {{with .Errors.Get "attributes"}}
          <label class='error'>{{.}}</label>
        {{end}}
        <div class='input-container' attr-name='attributes'>
          {{range $setting := $.Organization.Settings}}
            {{if eq $setting.Scope "service"}}
          <div class="clear item">
            <input type="text" placeholder="Identifier" value="{{$setting.Key}}" readonly="readonly" name="attributes[identifier][]">
            <select name="attributes[type][]">
              {{range $type := $.AttributesTypes}}
              <option value="{{$type}}"{{if eq $setting.Type $type}} selected{{end}}>{{$type}}</option>
              {{end}}
            </select>
          </div>
            {{end}}
          {{end}}
        </div>
      </div>
      <div>
        <input type='submit' value='Update Organization'>
      </div>
    {{end}}
  </form>
{{end}}
